.dashboard_container {
  width: 90%;
}

.dashboard_topTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_topTitle form{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard_topTitle input{
  border-radius: 1rem;
  border-top-right-radius: 0;
  padding: 10px;
  border: none;
}
.search_btn{
  width: 15px;
  height: 30px;
}

.card_container {
  padding-top: 20px;

  /* width: 100%;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid red; */

  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.db-calendar{
  color: red;
}

@media (max-width: 460px) {
  .dashboard_topTitle {

    flex-direction: column;
  }
}